@import '../../../sass/variables';
@import '../../../sass/mixins/main.scss';
.btn {
  border: 1px solid $btn_border_on_light;
  text-decoration: none;
  color: $btn_text;
  padding: .5rem 2rem;
  font-family: $roboto;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 0.75rem;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
.ondark {
  border-color: $btn_border_on_dark;
}
