//colors
$light_vertical_lines:      #d3d3d3;
$dark_vertical_lines:       #1b1b1b;
$white_navigation_text:     #ffffff;
$heading_text:              #333333;
$p_on_light_bg:             #999999;
$p_on_dark_bg:              #d3d3d3;
$btn_text:                  #666666;
$dots_line:                 #333333;
$btn_border_on_light:       #d2d2d2;
$btn_border_on_dark:        #313131;


// fonts
$backup-fonts:              'Arial', sans-serif;
$roboto:                    'Roboto', $backup-fonts;
$roboto_condensed:       'Roboto Condensed', $backup-fonts;


//z-index
$menu_z_index:       999;