@import '../../../sass/variables';
@import '../../../sass/mixins/main.scss';

//sugestion for mobile brakepoint+++600px;
.splash {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('../../../images/main-pic-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    font-family: $roboto_condensed;
    color: $white_navigation_text;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    z-index: 10;
    strong {
      font-weight: bold;
    }
  }
  img {
    margin-top: 5rem;
    z-index: 10;
  }
}

.mousey {
  width: 10px;
  padding: 10px 10px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
  z-index: 10;
}
.scroller {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}
