@import '../../../sass/variables';
@import '../../../sass/mixins/main.scss';

.top {
  display: flex;
  min-height: 930px;
  background-image: url('../../../images/chair-bg.jpg');
  background-position: left center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  padding-right: 180px;
  align-items: flex-start;

  @include media('<large-phone') {
    justify-content: flex-start;
    padding: 75px 20px 310px;
    background-position: -371px 100%;
  }

  .heading_wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
    align-items: flex-start;
    margin-top: 237px;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../../../images/pattern2-plus.png');
      background-position: center;
      background-repeat: no-repeat;
      width: 202px;
      height: 424px;
      top: 0;
      right: -94px;

      @include media('<large-phone') {
        right: 0;
      }
    }

    @include media('<large-phone') {
      margin-top: 0;
    }

    h3 {
      font-family: $roboto_condensed;
      font-weight: 300;
      font-size: 3.75rem;
      margin-bottom: 63px;
      margin-top: 20px;

      > span {
        font-weight: 700;
      }
    }
  }
}
